PORT = 1213
MONGO_URI = 
ACCESS_TOKEN_SECRET = acforever
ACCESS_TOKEN_EXPIRY = 30m
REFRESH_TOKEN_SECRET = acforeverbackend
REFRESH_TOKEN_EXPIRY = 1d
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 587
SMTP_USER = 
SMTP_PASS = 
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
FIREBASE_PROJECT_ID = 
FIREBASE_CLIENT_EMAIL = 
FIREBASE_PRIVATE_KEY =